body {
  margin: 0 auto;
  background-color: silver;
  font-family: "verdana";
  margin: 30px;
}

header{
  margin: 0 auto;
  background-color: white;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-family: "verdana";
  padding: 50px;
  height: 50px;
}


p {
  font-family: "verdana";
}

h1{
  margin-top: 0px;
  text-align: center;
}

h2{
  color:#ff5200;
}

.linea{
  border: solid 1px silver;
}


.red{
  color: #ff5200;
}

.container{
  background-color: white;
  display: table;
  margin: 40px 40px 40px 40px;

  padding-left: 15px;
  padding-right: 15px;
  }



.img_header{
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 5px;
  margin-left: -80px;
  left: 50%;
  border:solid 5px silver;

}

.main{
  margin: 0 15px 0 15px;
}

.gray_box{
  background-color: rgba(128, 128, 128, 0.18);
}

.right_side {

}

.orange_box{
  background-color: #ff5200;
  color:white;
  font-size: bold;
  margin: 2px 3px 2px 1px;

}

.star{
  font-size: 25px;
  color:silver;
  color: #ff5200;

}

.btn{
  font-weight: bold;
  font-size: 10px;
  background-color: red;
  margin:10px 10px 10px 10px;
  color:white;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 15px;
}

.footer {
float:right;
color: rgba(128, 128, 128, 0.7);
align: right;
}

.row{
  clear:both;
  height: 50px;
}

.clearfix{
  clear:both;
}
/*Medium desktop bootstrap*/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10{
    float:left;
    /*box-sizing: border-box;*/
}

@media(max-width: 480px){
  .container{
   max-width: 400px;
   margin: 0 auto;
   background-color: white;
 }

  .col-sm-1{
    width: 10%;
  }

  .col-sm-offset-1{
    margin-left: 10%;
  }

  .col-sm-2{
    width: 20%;
  }

  .col-sm-offset-2{
    margin-left: 20%;
  }

  .col-sm-3{
    width: 30%;
  }

  .col-sm-offset-3{
    margin-left: 30%;
  }

  .col-sm-4{
    width: 40%;
  }

  .col-sm-offset-4{
    margin-left: 40%;
  }

  .col-sm-5{
    width: 50%;
  }

  .col-sm-offset-5{
    margin-left: 50%;
  }

  .col-sm-6{
    width: 60%;
  }

  .col-sm-offset-6{
    margin-left: 60%;
  }

  .col-sm-7{
    width: 70%;
  }

  .col-sm-offset-7{
    margin-left: 70%;
  }

  .col-sm-8{
    width: 80%;
  }

  .col-sm-offset-8{
    margin-left: 80%;
  }

  .col-sm-9{
    width: 90%;
  }

  .col-sm-offset-9{
    margin-left: 90%;
  }

  .col-sm-10{
    width: 100%;
  }

  .col-sm-offset-10{
    margin-left: 100%;
  }
}

@media(min-width: 481px){
  .col-md-1{
    width: 10%;
  }

  .col-md-offset-1{
    margin-left: 10%;
  }

  .col-md-2{
    width: 20%;
  }

  .col-md-offset-2{
    margin-left: 20%;
  }

  .col-md-3{
    width: 30%;
  }

  .col-md-offset-3{
    margin-left: 30%;
  }

  .col-md-4{
    width: 40%;
  }

  .col-md-offset-4{
    margin-left: 40%;
  }

  .col-md-5{
    width: 50%;
  }

  .col-md-offset-5{
    margin-left: 50%;
  }

  .col-md-6{
    width: 60%;
  }

  .col-md-offset-6{
    margin-left: 60%;
  }

  .col-md-7{
    width: 70%;
  }

  .col-md-offset-7{
    margin-left: 70%;
  }

  .col-md-8{
    width: 80%;
  }

  .col-md-offset-8{
    margin-left: 80%;
  }

  .col-md-9{
    width: 90%;
  }

  .col-md-offset-9{
    margin-left: 90%;
  }

  .col-md-10{
    width: 100%;
  }

  .col-md-offset-10{
    margin-left: 100%;
  }
}
